<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">


	<!--
		@Component  针对不好分类的一些组件
		@Service   针对service
		@Repository  针对dao
		@Controller  针对controller
		
		//注入ioc中已经存在的对象
		@Autowired   先按照类型进行查找  如果没有 在根据当前被注解的属性的名称去查找  如果再没有  则报错
		@Resource	  先按照名称去查找  如果没有 则按照类型查找  如果再没有  则报错
	
	  -->
	<context:component-scan base-package="com.cdsxt"></context:component-scan>
	<context:property-placeholder location="classpath:db.properties"/>

</beans>
